<h3>Add expense</h3>

<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Expense name" />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Date"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
      />
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Amount" />
    </div>
    <div class="col">
      <button class="btn btn-primary">Add</button>
    </div>
  </div>
</form>

<h3 class="mt-5">Expenses list</h3>
<table class="table mt-3">
  <tbody>
    <tr *ngFor="let expense of expenses">
      <td>
        <a routerLink="/expense/{{ expense.id }}">{{ expense.name }}</a>
      </td>
      <td>{{ expense.date }}</td>
      <td>&euro;{{ expense.amount }}</td>
    </tr>
    <!-- <tr>
      <td><a routerLink="/expense/2">Car repair</a></td>
      <td>2022-03-15</td>
      <td>&euro;352.05</td>
    </tr>
    <tr>
      <td>Cinema tickets</td>
      <td>2022-03-14</td>
      <td>&euro;12.26</td>
    </tr>
    <tr>
      <td>Pizza order</td>
      <td>2022-03-10</td>
      <td>&euro;12.81</td>
    </tr>
    <tr>
      <td>Gas</td>
      <td>2022-03-02</td>
      <td>&euro;67.22</td>
    </tr> -->
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td>&euro;464.39</td>
    </tr>
  </tfoot>
</table>
