<form #expenseForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <input
        name="name"
        type="text"
        class="form-control"
        placeholder="Expense name"
        [(ngModel)]="model.name"
      />
    </div>
    <div class="col">
      <input
        name="date"
        type="text"
        class="form-control"
        placeholder="Date"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
        [(ngModel)]="model.date"
      />
    </div>
    <div class="col">
      <input
        name="amount"
        type="text"
        class="form-control"
        placeholder="Amount"
        [(ngModel)]="model.amount"
      />
    </div>
    <div class="col">
      <button class="btn btn-primary">Add</button>
      <button class="btn btn-primary" (click)="resetForm()" type="button">
        Reset
      </button>
    </div>
    <pre>{{ getModelString() }},</pre>
  </div>
</form>
